In [1]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# from matplotlib import pyplot as plt
import missingno as msno # 결측치 시각화 라이브러리

from urllib.request import urlopen
from bs4 import BeautifulSoup
from html_table_parser import parser_functions as parser

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import lightgbm
from lightgbm import LGBMClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

경주 성적, 경주 거리, 등급 수집

In [45]:

dateli = ['20201128', '20201122',
          '20201121', '20201115', '20201114', '20201108', '20201107', '20201101',
         '20201023','20201016']


for date in dateli:
    i = 1
    while True:
        if i == 1:

            url = f"http://race.kra.co.kr/raceScore/ScoretableDetailList.do?meet=1&realRcDate={date}&realRcNo=1"

            result = urlopen(url)
            html = result.read()
            soup = BeautifulSoup(html, 'html.parser')
            temp = soup.find_all('table')
            p = parser.make2d(temp[2])
            p2 = parser.make2d(temp[0])
            result1 = pd.DataFrame(p[1:],columns=p[0])

            grade = p2[1][0]
            length = p2[1][1]
            result1['grade'] = grade
            result1['length'] = length
            #print("1번째 데이터 수집")
            i = i+1


        if i != 1:

            url = f"http://race.kra.co.kr/raceScore/ScoretableDetailList.do?meet=1&realRcDate={date}&realRcNo={i}"

            result = urlopen(url)
            html = result.read()
            soup = BeautifulSoup(html, 'html.parser')
            temp = soup.find_all('table')
            p = parser.make2d(temp[2])
            p2 = parser.make2d(temp[0])
            df = pd.DataFrame(p[1:],columns=p[0])

            grade = p2[1][0]
            length = p2[1][1]
            df['grade'] = grade
            df['length'] = length

            if (df['순위']=='1').any():
                result1 = pd.concat([result1,df])
                i = i+1
            else :
                print(f"{date} 데이터 수집 완료")
                break

    result1.to_csv(f"./result/경주성적/서울경주성적_{date}.csv", encoding='utf-8-sig')

20201128 데이터 수집 완료
20201122 데이터 수집 완료
20201121 데이터 수집 완료
20201115 데이터 수집 완료
20201114 데이터 수집 완료
20201108 데이터 수집 완료
20201107 데이터 수집 완료
20201101 데이터 수집 완료
20201023 데이터 수집 완료
20201016 데이터 수집 완료

날짜 열 생성

In [101]:
forders = os.listdir('result/마지막 분석/경주성적')

dateli= []
for i in forders:
    
    file = 'result/마지막 분석/경주성적/' + i
    df = pd.read_csv(file, encoding='utf-8')
    date = i.strip('서울경주성적_.csv')
    #print(date)
    df['date'] = date
    df.to_csv(f'result/마지막 분석/date_result/{i}', encoding='utf-8-sig')

데이터 병합

In [1]:
forders = os.listdir('result/마지막 분석/date_result')

df_all = pd.DataFrame()
for i in range(0, len(forders)):
        file = 'result/마지막 분석/date_result/' + forders[i]
        df = pd.read_csv(file, encoding='utf-8')
        
        df_all = pd.concat([df_all, df])

df_all.to_csv(f"./result/마지막 분석/서울경주성적20201016~.csv", encoding='utf-8-sig')

NameError: name 'os' is not defined

In [94]:
import pandas as pd
df_all= pd.read_csv(f"./result/마지막 분석/서울경주성적20201016~.csv", encoding='utf-8-sig')

In [52]:
# 경주마 총 3등 이내 횟수, 비율 구하기 위한 마명(중복제거) 리스트 생성

df_all['마명'].replace('[부]','', inplace=True)
df = df_all.drop_duplicates(subset='마명')

li = df['마명'].tolist()
len(li)

2788

In [53]:
# 수집 후 비교 (크롤링 누락 말 재수집을 위함)

hdf = pd.read_csv("./result/마지막 분석/경주마성적/경주마성적(전체).csv", encoding='utf-8-sig')
li2 = hdf['마명'].tolist()
gonameli = []

for name in li:
    if name not in li2:
        gonameli.append(name)

In [54]:
len(gonameli) # 이자식들도 다시 수집

643

In [55]:
gonameli

['영웅루이스',
 '대망의길',
 '블루치퍼',
 '미스터어플릿',
 '헌치',
 '브레이브킹덤',
 '블루파워',
 '스마트프린스',
 '한강챔프',
 '은혜드림',
 '애국자달려',
 '황우강자',
 '베스트야',
 '불의꽃',
 '나의나라',
 '시스터젬',
 '글로벌프라임',
 '빅스고',
 '원평광야',
 '베스트매드캠',
 '스타프린세스',
 '네모프린세스',
 '한강보스',
 '천송이',
 '피엔에스꼬미',
 '하이파크',
 '스타플라워',
 '스카이송',
 '함평파이터',
 '베스트플랜',
 '월드레이서',
 '남산호랑이',
 '초원의힘',
 '허니펀치',
 '피엔에스린',
 '케이엔월드',
 '문학태핏',
 '위너스맨',
 '히트예감',
 '미스터인디',
 '온누리질주',
 '스카이모어',
 '월드체인지',
 '킹골리앗',
 '아치메모리',
 '스마트별',
 '허밍버드',
 '동방의혼',
 '논스톱알리',
 '피엔에스찬스',
 '나올챔프',
 '금아위티',
 '백일홍',
 '슈퍼아이',
 '타이탄삭스',
 '비크레이지',
 '라온더골드',
 '플라잉골드',
 '장산포이즌',
 '빅비트',
 '생일선물',
 '스마티대세',
 '포에버칸',
 '피엔에스골드',
 '휘파람',
 '케이엔티즈원',
 '쏘아라대로',
 '화랑스토리',
 '프린스',
 '글로리뷰',
 '마바위',
 '플라잉아테나',
 '라온더축제',
 '비트업',
 '루나실버',
 '원스피어',
 '원평퀸',
 '이글포인트',
 '터치나인',
 '건곤일척',
 '큐피드보우',
 '굿니센',
 '골든선더',
 '유로강자',
 '선더누리',
 '테이크머니',
 '뉴청파',
 '무야호',
 '큐피드점보',
 '캠프세이버',
 '선더여왕',
 '질주의칸',
 '시선평정',
 '백승',
 '런던스카이',
 '송암레전드',
 '레이볼트',
 '우청륭',
 '판타스틱맨',
 '록초이스',
 '히든챔프',
 '터치스타맨',
 '스피드퓨리',
 '라피도맨',
 '석세스파티',
 '스카이팡팡',
 '아치참',
 '천은총',
 '차돌런',
 '슈발도리앙',
 '주얼리베스트',
 '흥행대박',
 '기쁨환희',
 '헤라블레이드',
 '글로벌퍼스트',
 '파워케이',
 '라이징호크',
 '나올에이스',
 '베스트전사',
 '디바인퓨처즈',
 '용천지상',
 '행덕',
 '스타룰러',
 '티즈바로우즈',
 '피엔에스더킹',
 '미라클도터',
 '새내포레스트',
 '갤럭시로드',
 '백두걸',
 '클레어포인트',
 '우주의봄',
 '리버태양',
 '아치리버',
 '떠오르다',
 '모닝파이브',
 '남촌의강호',
 '연희사랑',
 '챔피언함성',
 '그레이트제니',
 '한라의원석',
 '은성마루',
 '제이피닉스',
 '해피믹스',
 '웰빙챔피언',
 '톱포지션',
 '원더풀섀도우',
 '불의신화',
 '너울이',
 '어메이징나우',
 '퍼펙트타임',
 '미르파워',
 '원더풀라이언',
 '아델퓨펄',
 '해운대바다',
 '나올영웅',
 '글로벌보배',
 '콩코드스퍼트',
 '메니스피어',
 '불의질주',
 '파이널참',
 '에이스월드',
 '남산무적',
 '은혜레코드',
 '블랙머니',
 '무지개공주',
 '또바기',
 '머스탱파워',
 '순간터치',
 '머니신',
 '나나랜드',
 '라스트펀치',
 '케이엔올드퀸',
 '퀸의질주',
 '매직모카신',
 '돌배',
 '밀리언퀸',
 '시리우스알파',
 '작두콩',
 '블러드문',
 '행복여왕',
 '콩코드퀸',
 '은혜가문',
 '마이티굿',
 '아스펜로스',
 '스타로드',
 '동방대로',
 '크레이지콘티',
 '베스트토치',
 '대물',
 '비플라워',
 '피엔에스얀',
 '디스코보이',
 '굿승리',
 '해피뉴마',
 '빈체로킹',
 '콩코드스파크',
 '돈마',
 '마루마',
 '체인저',
 '컴플리트조이',
 '고져스서브',
 '해제반도',
 '문학카이로',
 '제다이포스',
 '퀴클리런',
 '우승바람',
 '하이러너',
 '케이엔포스트',
 '티즈러너',
 '드림여왕',
 '문학다이얼',
 '시티참',
 '큐피드벨',
 '스피어골드',
 '댓츠마이걸',
 '위대한한마',
 '쇼미더골드',
 '펀크레이지',
 '큐피드웨이',
 '슈퍼다이아',
 '파워플랜',
 '젠틀룰즈',
 '원평버드',
 '런던명가',
 '티즈드림',
 '케이엔스케치',
 '스피어퀸',
 '경부대검',
 '동방사기',
 '매직글로리',
 '쌍옥루',
 '나올세상',
 '베스트팔콘',
 '원평코드',
 '퍼플월드',
 '챈슬러',
 '에코존',
 '플라이스타',
 '함평나비',
 '송암베스트',
 '메니에이스',
 '머스탱참',
 '비밀상자',
 '피엔에스싱',
 '에클레어더원',
 '엠제이타임',
 '터프여제',
 '송암누리',
 '닥터카슨',
 '월드데이',
 '천블릿',
 '천적캣',
 '논스톱데릭',
 '퍼플스톰',
 '블랙버미',
 '타이거존',
 '푸른나래',
 '리저브드존',
 '크레이지산타',
 '하늘아',
 '피엔에스안',
 '아치게이트',
 '컴플리트웨펀',
 '정문질주',
 '상상질주',
 '탱자',
 '위즈업',
 '그레이트매직',
 '팀임팩트',
 '송암아치걸',
 '엔비전사',
 '나올킹',
 '매직신화',
 '거센강자',
 '신한특송',
 '태산아치',
 '미스클레버',
 '그린드래건',
 '마이티앤',
 '어나더레벨',
 '글로벌캐슬',
 '새벽밴드',
 '내길의별',
 '베를린스타',
 '스타레이서',
 '함평에이스',
 '티즈석세스',
 '멋진아치',
 '동트자웨이',
 '트리플조이',
 '플래시선더',
 '퍼미션투윈',
 '은혜가이',
 '드림로즈',
 '채플프린세스',
 '최고포인트',
 '상상스타',
 '오천복',
 '아치신',
 '퀵실버',
 '슈퍼플랜',
 '대사리',
 '인디팝',
 '희망의불꽃',
 '네버네버스톱',
 '옥천최강',
 '퀵니스',
 '마이공주',
 '스프링워터',
 '한강히어로',
 '남산바이트',
 '한강돌풍',
 '가기만고당',
 '최강미래',
 '로마블레이드',
 '킹아너',
 '새로운빛깔',
 '호크프린스',
 '트로팅라일리',
 '그레이토르',
 '골든아너',
 '코스모퀸',
 '킹스아이',
 '금성최고',
 '송암드래건',
 '투투키튼',
 '아임포스원',
 '티즈헌터',
 '마이티렘',
 '클래식스타',
 '원더풀뮤직',
 '매디슨뮤직',
 '국대클래스',
 '야무진새강자',
 '강철부대',
 '빛의카',
 '은파마운틴',
 '비제이스톰',
 '블루인디',
 '탄산',
 '투게더웨이',
 '야무진재수',
 '위대한군주',
 '디바인키튼',
 '최고블랙',
 '정문파파고',
 '소호승리',
 '희망워리어',
 '트레비트',
 '차이밍보이',
 '대륜함성',
 '그레이트킹',
 '대천챔프',
 '오래함께하자',
 '런보이런',
 '클레어파워',
 '선더매직',
 '나스티챔프',
 '금아시크',
 '런타이거',
 '이터널선샤인',
 '금아포쉬',
 '가나패션',
 '화이트캣',
 '위너스타',
 '캡틴양키',
 '대호전설',
 '몽땅',
 '운주히어로',
 '드림케이',
 '이너피스',
 '슈팅리버스',
 '헤이마마',
 '안양사자',
 '러피언이글',
 '스타태풍',
 '레드워리어',
 '행복한버미',
 '라이언헤드',
 '화이트넘버원',
 '에이원스타',
 '너트플레이',
 '원평킬라',
 '강력한지금',
 '아르고탑',
 '원더풀카로',
 '백두미인',
 '월드참',
 '플라이제니',
 '스피드에이스',
 '데블케이',
 '브라운',
 '유로특급',
 '티즈데이',
 '하이로드',
 '아라챔프',
 '금아미스틱',
 '킹오브더매치',
 '히든블레이드',
 '클래스희망',
 '바람의검',
 '고마나루',
 '골든파워',
 '은성위너',
 '아델골드',
 '킹칼레',
 '영광의타임',
 '마이티즈젬',
 '헬로퀸',
 '플라잉더챔프',
 '대지초이스',
 '범이내려온다',
 '불의검',
 '퓨리오사',
 '두손클래식',
 '럭키파워',
 '화이트위치',
 '템파르퀸',
 '파워풀삭스',
 '신의반전',
 '나올행복',
 '한강에이스',
 '월드킹맨',
 '자이언트펀치',
 '나올스나이퍼',
 '원평타운',
 '금아얼루어',
 '시크릿플레이',
 '글로벌파워',
 '아르고공주',
 '광명성',
 '스트롱참',
 '모닝프린스',
 '쾌향',
 '네모프린스',
 '짜릿한자유',
 '글로벌강타',
 '한강여울',
 '그린스파크',
 '슈어윈',
 '네이비크롬',
 '울트라삭스',
 '리걸하이',
 '검은질주',
 '월드플레이',
 '골드파워',
 '천마챗',
 '팍스누리',
 '나우누리',
 '스피어킹',
 '원더풀퍼지',
 '별나라비마',
 '메니포켓',
 '광치기',
 '스탈렛',
 '크레이지러브',
 '굿카보',
 '선더블루',
 '나올시대',
 '강서돌풍',
 '다나은로즈',
 '삼바존',
 '원더레이서',
 '메니데이',
 '라온포레스트',
 '금빛마',
 '록임팩트',
 '토호스카이',
 '퍼펙트건맨',
 '철각파워',
 '라온자이언트',
 '울트라갤럭시',
 '선더브라보',
 '라스트피치',
 '런던비상',
 '한강지존',
 '희망오름',
 '피엔에스룩',
 '드래곤스타',
 '행복한문막',
 '드림스카이',
 '하이그랜드',
 '백두보이',
 '포춘룰즈',
 '티즈로켓',
 '매직콘서트',
 '서울기쁨',
 '제우시대',
 '반도희망',
 '압구정치타',
 '한강뮤직',
 '원더풀위싱',
 '고스트울프',
 '슈프림스타',
 '라온더플래터',
 '달금',
 '백두멋쟁이',
 '문더스트',
 '캐츠우먼',
 '콰이어트참',
 '라온더하이맨',
 '베스트클론',
 '기쁨환호',
 '에펠탑',
 '스톰매직',
 '유니콘킹덤',
 '라온더찰리',
 '배다리공주',
 '미사일킹',
 '캔디여왕',
 '정우플라잉',
 '남산주몽',
 '선드래곤',
 '배다리왕자',
 '라온더코브라',
 '파워풀화성',
 '넥스트레벨',
 '원더풀인디',
 '천존챗',
 '파워플레이',
 '울프플레이',
 '씽씽씽',
 '컴플리트레벨',
 '마의웨이',
 '불의날개',
 '국제공항',
 '라온스파이크',
 '신의여인',
 '포에이스',
 '테이크뮤직',
 '빅스마트',
 '코스모킹',
 '골든펄',
 '바람의칼',
 '새내퀸',
 '메타블레이드',
 '장비무지개',
 '컴플리트엔젤',
 '한강질주',
 '라온더퀄리티',
 '베스트리치',
 '어카운트',
 '새내타운',
 '자이언트인디',
 '용암렉스',
 '컴플리트포스',
 '파이널축제',
 '서울을날다',
 '런던에이스',
 '원더풀티지',
 '히트파워',
 '라온아메리칸',
 '찬란한폭풍',
 '원평축제',
 '걸작선',
 '블랙건',
 '아치러너',
 '골든럭키',
 '라누트',
 '글로벌찬가',
 '글로리앤아너',
 '새내비바',
 '테스조이',
 '최강돌풍',
 '시크릿킹',
 '송암에이스',
 '주몽천하',
 '슈퍼피니시',
 '스타케이',
 '강한퀸',
 '미스윈스타',
 '마구마',
 '나노메타',
 '스포블레이드',
 '실버부스터',
 '파이어걸',
 '브라운퀸',
 '몬스터파워',
 '큐피드챔프',
 '파르키우스',
 '캐츠아이',
 '레몬블레이드',
 '라온슈퍼킹',
 '인생의감동',
 '앱설루트명작',
 '거센챔프',
 '랩터스',
 '컴퓨터패치',
 '아나프',
 '셀라비',
 '세키후',
 '석세스마초',
 '킹스실드',
 '돌콩',
 '인텔로전트',
 '이다나은',
 '대왕삭스',
 '아르고무적',
 '헌터블레이드',
 '라온홀리데이',
 '큐피드스윙',
 '서울스퍼트',
 '위너영',
 '지모션',
 '금성시대',
 '미르포인트',
 '문학이든',
 '클라우드나인',
 '케이빅토리',
 '대흥클래스',
 '리월마',
 '세륭',
 '해피선샤인',
 '한강의기상',
 '피엔에스탑',
 '유니콘히트',
 '마에스트라',
 '낭주여걸',
 '아라모아',
 '정상럭키',
 '럭키허니',
 '스마트삭스',
 '세명레이디',
 '문학어플리트',
 '블루밍스타',
 '머니장군',
 '크로마이트',
 '스마티글로리',
 '아깽이',
 '금성탈환',
 '임페리얼본',
 '매디슨마운틴',
 '한강스카이',
 '럭키선',
 '라온점프',
 '블루아치',
 '장흥클래스',
 '성은크라운',
 '플라잉점프',
 '당찬낭보',
 '베스트선',
 '제타마스터',
 '슛업스파크']

In [6]:
# 크롬드라이버 자동 업데이트 (새 버전 다운로드)
from selenium import webdriver
import chromedriver_autoinstaller
import os

# Check if chrome driver is installed or not
chrome_ver = chromedriver_autoinstaller.get_chrome_version().split('.')[0]
driver_path = f'./{chrome_ver}/chromedriver.exe'
if os.path.exists(driver_path):
    print(f"chrom driver is insatlled: {driver_path}")
else:
    print(f"install the chrome driver(ver: {chrome_ver})")
    chromedriver_autoinstaller.install(True)

# Get driver and open url
driver = webdriver.Chrome(driver_path)
driver.get("https://google.com")

install the chrome driver(ver: 107)

C:\Users\magne\AppData\Local\Temp/ipykernel_13236/583633660.py:16: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path)

경주마 전적 가져오기

In [56]:
# 경주마 전적 가져오기
# 경주성적 Xpath : //*[@id="divList"]/table/tbody/tr[13]/td[1]/span/a


from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
import pandas as pd


sec = 10
# cnt = 0

# Headless 크롬으로 크롤링하기위함
options = webdriver.ChromeOptions()
options.add_argument('headless')
options.add_argument('window-size=1920x1080')
options.add_argument("disable-gpu") # 혹은 --disable-gpu # 크롬 자체 버그 때문에
options.add_argument("--disable-extensions")

# 속도 향상을 위한 옵션 해제
prefs = {'profile.default_content_setting_values': {'cookies' : 2, 'images': 2, 'plugins' : 2, 'popups': 3, 'geolocation': 2, 'notifications' : 2, 'auto_select_certificate': 2, 'fullscreen' : 2, 'mouselock' : 2, 'mixed_script': 2, 'media_stream' : 2, 'media_stream_mic' : 2, 'media_stream_camera': 2, 'protocol_handlers' : 2, 'ppapi_broker' : 2, 'automatic_downloads': 2, 'midi_sysex' : 2, 'push_messaging' : 2, 'ssl_cert_decisions': 2, 'metro_switch_to_desktop' : 2, 'protected_media_identifier': 2, 'app_banner': 2, 'site_engagement' : 2, 'durable_storage' : 2}}   
options.add_experimental_option('prefs', prefs)

driver = webdriver.Chrome('./107/chromedriver.exe', chrome_options=options)
url = 'https://studbook.kra.co.kr/studbook.jsp'
driver.get(url)
WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'main_flash')))
horsename = []
run_result = []


for i in range(0, len(gonameli)):


    search_box = driver.find_element_by_css_selector("input#gsearchtxt")
    search_box.send_keys(gonameli[i])
    search_box.send_keys(Keys.RETURN)

    check = driver.find_elements_by_xpath("//*[@id='ma_infoTop']") # xpath를 리스트로
    
    
#     if i == 165: # 검색 시 해당 말이 두번째에 정보가 있을 경우
#         thishorse = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[2]/td[2]/span/a')
#         driver.execute_script("arguments[0].click();", thishorse)
#         WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))
                
        
        
    if len(check) <= 0 :
        try:
            thishorse = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[1]/td[2]/span/a')
            driver.execute_script("arguments[0].click();", thishorse)
            
        except Exception as e:
            continue
        
        WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))
        
        try:
            result = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(2) > span > a').text
            run_result.append(result)
        except Exception as e:
            run_result.append('')
        
    else:
        
        try:
            WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))
            
        except Exception as e:
            print(f"{i}번째 행 에러: ", e)
            break


        try:
            result = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(2) > span > a').text
            run_result.append(result)
        except Exception as e:
            run_result.append('')

    WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))
    horsename.append(gonameli[i])


            
parentmoney = pd.DataFrame({'마명': horsename, '경주마전적': run_result})
parentmoney.to_csv(f'./result/마지막 분석/경주마성적/경주마 성적4.csv', encoding='utf-8-sig')

C:\Users\magne\AppData\Local\Temp/ipykernel_13236/1289608539.py:29: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./107/chromedriver.exe', chrome_options=options)
C:\Users\magne\AppData\Local\Temp/ipykernel_13236/1289608539.py:29: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('./107/chromedriver.exe', chrome_options=options)
C:\Users\magne\AppData\Local\Temp/ipykernel_13236/1289608539.py:40: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  search_box = driver.find_element_by_css_selector("input#gsearchtxt")
C:\Users\magne\AppData\Local\Temp/ipykernel_13236/1289608539.py:44: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  check = driver.find_elements_by_xpath("//*[@id='ma_infoTop']") # xpath를 리스트로
C:\Users\magne\AppData\Local\Temp/ipykernel_13236/1289608539.py:81: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  result = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(2) > span > a').text
C:\Users\magne\AppData\Local\Temp/ipykernel_13236/1289608539.py:56: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  thishorse = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[1]/td[2]/span/a')
C:\Users\magne\AppData\Local\Temp/ipykernel_13236/1289608539.py:65: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  result = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(2) > span > a').text

수집한 경주마전적 합치기

In [57]:
forders = os.listdir('result/마지막 분석/경주마성적')

horsedf = pd.DataFrame()
for i in range(0, len(forders)):
        file = 'result/마지막 분석/경주마성적/' + forders[i]
        df_one = pd.read_csv(file, encoding='utf-8')
        
        horsedf = pd.concat([horsedf, df_one])

horsedf.to_csv("./result/마지막 분석/경주마성적/경주마성적(전체).csv", encoding='utf-8-sig')

랭킹 결측치 행 제거 (출전취소, 부정행위발각 등)

In [58]:
df_all.dropna(subset=['순위'], inplace=True)

기수 전적 가져오기

감량중량, 중복 제거 후 수집할 기수명 추출

In [85]:
df_all['기수명']= df_all['기수명'].str.replace(pat=r'[^\w]',repl=r'',regex=True)

df_all['기수명'] = df_all['기수명'].str.replace('1', '')
df_all['기수명'] = df_all['기수명'].str.replace('2', '')
df_all['기수명'] = df_all['기수명'].str.replace('3', '')
df_all['기수명'] = df_all['기수명'].str.replace('4', '')
df_player = df_all.drop_duplicates(subset='기수명')
df_player['기수명'].to_csv('./result/마지막 분석/수집할기수명.csv', encoding='utf-8-sig')
playerli = df_player['기수명'].tolist()
print(len(playerli))
print(playerli)

85
['김동수', '박태종', '박을운', '김아현', '문성혁', '이동진', '방춘식', '조재로', '함완식', '정평수', '조한별', '임다빈', '김옥성', '김정준', '김귀배', '권석원', '김효정', '신형철', '이준철', '이동국', '송재철', '조상범', '문세영', '하정훈', '이혁', '임기원', '이현종', '이동하', '안토니오', '우에다', '김용근', '박병윤', '박현우', '김덕현', '빅투아르', '이강서', '장추열', '최범현', '이기회', '부민호', '황순도', '지하주', '박상우', '안효리', '이철경', '다비드', '이해동', '먼로', '윤태혁', '유승완', '이용호', '문정균', '윤영민', '정정희', '최원준', '김태희', '페로비치', '유현명', '송경윤', '서승운', '이성재', '진겸', '최시대', '박재이', '임성실', '요아니스', '다실바', '모준호', '정동철', '김어수', '조인권', '김철호', '전진구', '조창욱', '김태훈', '정우주', '황종우', '정도윤', '이상규', '오수철', '미유키', '채드윅', '후지오카', '보우즈란', '채상현']

한국마사회에서 제공하는 기수 정보 합치기

In [93]:
needplayer = pd.read_csv('./result/마지막 분석/기수성적/수집할기수명.csv', encoding='utf-8-sig')
isplayer = pd.read_csv('./result/마지막 분석/기수성적/기수명1.csv', encoding='euc-kr')

df = pd.merge(needplayer, isplayer, how='outer', on='기수명')
df.to_csv('./기수성적.csv', encoding='utf-8-sig')

# 부모마 수득상금 가져오기

부모마 수득상금 수집해야 할 말 추출

In [5]:
df2 = pd.read_csv('C:/Users/magne/Data science/2022경마분석/result/1학기 분석/5년치상금환율변경전~.csv', encoding='utf-8-sig')
df2 = df2.drop_duplicates(subset='자식마명')
nameli_many = df2['자식마명'].tolist()

df_all= pd.read_csv(f"./result/마지막 분석/서울경주성적20201016~.csv", encoding='utf-8-sig')
df_all = df_all.drop_duplicates(subset='마명')
nameli_now = df_all['마명'].tolist()

isnotnameli = [] # 부모마 수득상금 수집해야할 말
isnameli = [] # 부모마 수득상금이 이미 있는 말


for name in nameli_now:
    if name not in nameli_many :
        isnotnameli.append(name)
    else:
        isnameli.append(name)

print(len(isnotnameli))
print(len(isnameli))

108
2680

이전 수집한 부모마수득상금을 csv파일로 저장

In [6]:
import pymysql

db = pymysql.connect(host='localhost',
                       user='root',
                       password='inhatc',
                       db='horseracing',
                       charset='utf8')

cursor = db.cursor(pymysql.cursors.DictCursor)

sql = "select * from result_final order by 1"

cursor.execute(sql)
result = cursor.fetchall()
db.close()

isnamedf = pd.DataFrame(result)
isnamedf.drop_duplicates(subset='name', inplace=True)
li = isnamedf['name'].tolist()


# 이전수집한 경주마에 확실히 존재하는지 확인
# print문 출력 시 해당 경주마 또한 수집 필요함
for name in isnameli:
    if name not in li:
        isnotnameli.append(name)
print(len(isnotnameli))
        
isnamedf[['name','fw','fd','mw','md']].to_csv('./result/마지막 분석/부모마 수득상금/부모마수득상금(이전수집).csv', encoding='utf-8-sig')

388

부모마 수득상금 수집

In [7]:
# 부모 마 정보 가져오기

# ElementNotInteractableException 에러 발생 대비를 위해 click() 대신 send_keys(Keys.ENTER) 사용
# 또는 driver.execute_script("arguments[0].click();", father)
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
import pandas as pd

result = pd.DataFrame(columns={'부마원', '부마달러', '모마원', '모마달러'})
fmliw = [] # fother money list won
fmlid = [] # fother money list dollar
mmliw = []
mmlid = []
sec = 5
# cnt = 0

# Headless 크롬으로 크롤링하기위함
options = webdriver.ChromeOptions()
options.add_argument('headless')
options.add_argument('window-size=1920x1080')
options.add_argument("disable-gpu") # 혹은 --disable-gpu # 크롬 자체 버그 때문에
options.add_argument("--disable-extensions")

# 속도 향상을 위한 옵션 해제
prefs = {'profile.default_content_setting_values': {'cookies' : 2, 'images': 2, 'plugins' : 2, 'popups': 3, 'geolocation': 2, 'notifications' : 2, 'auto_select_certificate': 2, 'fullscreen' : 2, 'mouselock' : 2, 'mixed_script': 2, 'media_stream' : 2, 'media_stream_mic' : 2, 'media_stream_camera': 2, 'protocol_handlers' : 2, 'ppapi_broker' : 2, 'automatic_downloads': 2, 'midi_sysex' : 2, 'push_messaging' : 2, 'ssl_cert_decisions': 2, 'metro_switch_to_desktop' : 2, 'protected_media_identifier': 2, 'app_banner': 2, 'site_engagement' : 2, 'durable_storage' : 2}}   
options.add_experimental_option('prefs', prefs)

driver = webdriver.Chrome('./107/chromedriver.exe', chrome_options=options)
url = 'https://studbook.kra.co.kr/studbook.jsp'
driver.get(url)
WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'main_flash')))
lastname = []

for i in range(0,len(isnotnameli)):
    
    search_box = driver.find_element_by_css_selector("input#gsearchtxt")
    search_box.send_keys(isnotnameli[i])
    search_box.send_keys(Keys.RETURN)
    
    check = driver.find_elements_by_xpath("//*[@id='ma_infoTop']") # xpath를 리스트로
    if len(check) <= 0 :
        thishorse = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[1]/td[2]/span/a')
        driver.execute_script("arguments[0].click();", thishorse)
        WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))
        father = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[11]/td[1]/span/a')
        
        father.send_keys(Keys.ENTER)
        WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))

        try :

            fmw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
            # 부마 원단위 상금
            fmd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text
            # 부마 달러단위 상금            

            fmliw.append(fmw)
            fmlid.append(fmd)
            driver.back()
            
            WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))
            mother = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[12]/td[1]/span/a')
            mother.send_keys(Keys.ENTER)
            
            WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))

            mmoneyw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
            # 모마 원단위 상금
            mmoneyd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text
            # 모마 달러단위 상금            

            mmliw.append(mmoneyw)
            mmlid.append(mmoneyd)

        except NoSuchElementException:
            pass

    else:
        father = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[11]/td[1]/span/a')
        
        father.send_keys(Keys.ENTER)
        WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))

        try :

            fmw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
            # 부마 원단위 상금
            fmd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text
            # 부마 달러단위 상금            

            fmliw.append(fmw)
            fmlid.append(fmd)
            driver.back()
            
            WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))
            mother = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[12]/td[1]/span/a')
            mother.send_keys(Keys.ENTER)
            
            WebDriverWait(driver, sec).until(EC.presence_of_element_located((By.ID, 'ma_infoTop')))

            mmoneyw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
            # 모마 원단위 상금
            mmoneyd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text
            # 모마 달러단위 상금            

            mmliw.append(mmoneyw)
            mmlid.append(mmoneyd)

        except NoSuchElementException:
            pass
    
    lastname.append(isnotnameli[i])

            
parentmoney = pd.DataFrame({'name': lastname, 'fw': fmliw,'fd' : fmlid, 'mw':mmliw, 'md':mmlid})
parentmoney.to_csv(f'./result/마지막 분석/부모마 수득상금/수집1.csv', encoding='utf-8-sig')

C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:33: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./107/chromedriver.exe', chrome_options=options)
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:33: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('./107/chromedriver.exe', chrome_options=options)
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:41: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  search_box = driver.find_element_by_css_selector("input#gsearchtxt")
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:45: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  check = driver.find_elements_by_xpath("//*[@id='ma_infoTop']") # xpath를 리스트로
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:84: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  father = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[11]/td[1]/span/a')
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:91: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  fmw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:93: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  fmd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:101: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  mother = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[12]/td[1]/span/a')
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:106: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  mmoneyw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:108: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  mmoneyd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:47: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  thishorse = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[1]/td[2]/span/a')
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:50: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  father = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[11]/td[1]/span/a')
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:57: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  fmw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:59: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  fmd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:67: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  mother = driver.find_element_by_xpath('//*[@id="divList"]/table/tbody/tr[12]/td[1]/span/a')
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:72: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  mmoneyw = driver.find_element_by_css_selector('#divList > table > tbody > tr:nth-child(13) > td:nth-child(4) > span').text
C:\Users\magne\AppData\Local\Temp/ipykernel_18972/2957954696.py:74: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  mmoneyd = driver.find_element_by_css_selector('#divList > table > tbody > tr.last_line > td:nth-child(4) > span').text

새로 수집한 부모마 수득상금 mysql에 저장

In [8]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+"inhatc"+"@localhost/horseracing", encoding='utf-8')
conn = engine.connect()

parentmoney.to_sql(name='parentmoney_20221105', con=engine, if_exists='replace', index=True, index_label = 'idx')

부모마 수득상금 원화로 변경

In [34]:
#### 목표 ####
# 1. fd 열 USD, JPY, AUD, GBP, NZD, RUB, EUR, CAD 포함 행 데이터 가져오기
# 2. md 열 USD, JPY, AUD, GBP, NZD, RUB, EUR, CAD 포함 행 데이터 가져오기
#### 실행 순서 ####
# 1. 수득상금 종류 별 idx, fd, md 가져와서 원화 제거 후 환율 곱 후 스트링으로 변환 후 sql update
#### 하는 방법 ####
# 아래 코드에 원화 종류, fd,md 변경만 하면 됨
# 2019~2021 년 평균 환율
# USD 1163.37
# JPY 10.72
# AUD 827.52
# GBP 1524.88
# NZD 781.07
# RUB 16.66
# EUR 1334.53
# CAD 890.57

import math
import pymysql

db = pymysql.connect(host='localhost',
                       user='root',
                       password='inhatc',
                       db='horseracing',
                       charset='utf8')

cursor = db.cursor(pymysql.cursors.DictCursor)

sql = "select idx,md from parentmoney_20221105 where md like '%CAD%'"
# 포함하는 문자 OR 나 AND로 많아질경우 LIKE 대신 REGEXP 사용
cursor.execute(sql)
md_CAD = cursor.fetchall()

for row in md_CAD :
    row['md'] = row['md'].replace('CAD ','')
    row['md'] = row['md'].replace(',','')
    row['md'] = int(row['md']) * 890.57
    row['md'] = math.ceil(row['md'])
    row['md'] = str(row['md'])

db = pymysql.connect(host='localhost',
                   user='root',
                   password='inhatc',
                   db='horseracing',
                   charset='utf8')

cursor = db.cursor()

sql = 'update parentmoney_20221105 set md = %(md)s where idx = %(idx)s'

cursor.executemany(sql, md_CAD)
    

db.commit()
db.close()

원 , 문자열 삭제

In [35]:
import pymysql

db = pymysql.connect(host='localhost',
                       user='root',
                       password='inhatc',
                       db='horseracing',
                       charset='utf8')

cursor = db.cursor(pymysql.cursors.DictCursor)

sql = "select idx,fw from parentmoney_20221105 where fw like '%원%'"

cursor.execute(sql)
fwli = cursor.fetchall()
for row in fwli :
    row['fw'] = row['fw'].replace('원','')
    row['fw'] = row['fw'].replace(',','')

db = pymysql.connect(host='localhost',
                   user='root',
                   password='inhatc',
                   db='horseracing',
                   charset='utf8')

cursor = db.cursor()

sql = 'update parentmoney_20221105 set fw = %(fw)s where idx = %(idx)s'

cursor.executemany(sql, fwli)
    

db.commit()
db.close()

mysql에 저장된 새로수집 및 원화변경 완료한 데이터 데이터프레임으로 저장 및 csv 저장

In [36]:
db = pymysql.connect(host='localhost',
                       user='root',
                       password='inhatc',
                       db='horseracing',
                       charset='utf8')

cursor = db.cursor(pymysql.cursors.DictCursor)

sql = "select * from parentmoney_20221105 order by 1"

cursor.execute(sql)
result = cursor.fetchall()
db.close()

addperentdf = pd.DataFrame(result)
addperentdf = addperentdf[['name', 'fw', 'fd', 'mw', 'md']]

        
addperentdf.to_csv(f'./result/마지막 분석/부모마 수득상금/추가수집(원화변경완료).csv', encoding='utf-8-sig')

부모마 수득상금 병합 및 csv파일 저장

In [38]:
predf = pd.read_csv('./result/마지막 분석/부모마 수득상금/부모마수득상금(이전수집).csv', encoding='utf-8-sig')

df = pd.concat([predf,addperentdf], ignore_index=True)
df # 확인 먼저

df.to_csv('./result/마지막 분석/부모마 수득상금/부모마수득상금(전체).csv', encoding='utf-8-sig')

# 데이터 수집 완료

# 데이터 전처리 시작 (경주마, 기수 성적 연승횟수, 연승율 구하기 먼저)

In [19]:
df= pd.read_csv(f"./result/마지막 분석/서울경주성적20201016~.csv", encoding='utf-8-sig')

df_horse = pd.read_csv('./result/마지막 분석/경주마 성적(최종).csv', encoding='utf-8-sig')
    
df_player = pd.read_csv('./result/마지막 분석/기수성적(최종).csv', encoding='utf-8-sig')

df_money = pd.read_csv('./result/마지막 분석/부모마수득상금(전체).csv', encoding='utf-8-sig')

분석할 경주마성적, 기수성적, 부모마수득상금 다 존재하는지 확인

In [7]:
li = df['마명'].tolist()
li2 = df_horse['마명'].tolist()

cnt=0
for name in li:
    if name not in li2:
        print(name)
    else:
        cnt+=1

print(cnt)

20640

In [9]:
li = df['마명'].tolist()
li2 = df_money['마명'].tolist()
cnt=0
for name in li:
    if name not in li2:
        print(name)
    else:
        cnt+=1
print(cnt)

20640

In [10]:
li = df['기수명'].tolist()
li2 = df_player['기수명'].tolist()
cnt=0
for name in li:
    if name not in li2:
        print(name)
    else:
        cnt+=1
print(cnt)

20640

경주 성적 데이터에 경주마성적, 기수성적, 부모마 수득상금 성적 merge(key값은 경주마명)

In [20]:
df_all = pd.merge(df, df_horse, how='outer', on='마명')
df_all = pd.merge(df_all, df_money, how='outer', on='마명')
df_all = pd.merge(df_all, df_player, how='outer', on='기수명')

In [21]:
df_all.head()

,순위,마번,마명,산지,성별,연령,중량,레이팅,기수명,조교사명,...,mw,md,i,데뷔일자,총_y,1등_y,2등_y,3등_y,3등이내횟수_y,3등이내확률_y
0,1.0,2.0,퀸오브베스트,한,암,2세,53,NaN,김동수,김동균,...,0.0,NaN,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792
1,8.0,4.0,퀸오브베스트,한,암,2세,53,NaN,김동수,김동균,...,0.0,NaN,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792
2,7.0,5.0,스팟플래터,한,수,2세,55,NaN,김동수,김동균,...,NaN,NaN,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792
3,11.0,2.0,논스톱기상,한,거,4세,55,25.0,김동수,신삼영,...,127460000.0,NaN,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792
4,6.0,4.0,논스톱기상,한,거,4세,52,24.0,김동수,신삼영,...,127460000.0,NaN,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792

# merge 완료 및 전처리 시작

NaN 이 아닌 빈 문자열 결측치 np.NaN으로 변환 처리

In [22]:
df_all = df_all.replace(r'^\s*$', np.nan, regex=True)

부모마 수득상금 전처리

In [ ]:
if not (엄마, 아빠) :
	평균으로 넣기
elif 엄마말 :
	sum(엄마,아빠)/2
else:
	아빠말

In [23]:
df_all = df_all.replace(np.nan, 0)

df_all['fw'] = df_all['fw'].astype(float)
df_all['fd'] = df_all['fd'].astype(float)
df_all['mw'] = df_all['mw'].astype(float)
df_all['md'] = df_all['md'].astype(float)

df_all['father'] = df_all['fd']+ df_all['fw']
df_all['mother'] = df_all['md']+ df_all['mw']

df_all.drop('fd', axis=1, inplace=True)
df_all.drop('fw', axis=1, inplace=True)
df_all.drop('md', axis=1, inplace=True)
df_all.drop('mw', axis=1, inplace=True)
df_all

,순위,마번,마명,산지,성별,연령,중량,레이팅,기수명,조교사명,...,i,데뷔일자,총_y,1등_y,2등_y,3등_y,3등이내횟수_y,3등이내확률_y,father,mother
0,1.0,2.0,퀸오브베스트,한,암,2세,53,0.0,김동수,김동균,...,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792,1.053355e+09,0.0
1,8.0,4.0,퀸오브베스트,한,암,2세,53,0.0,김동수,김동균,...,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792,1.053355e+09,0.0
2,7.0,5.0,스팟플래터,한,수,2세,55,0.0,김동수,김동균,...,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792,1.207357e+09,0.0
3,11.0,2.0,논스톱기상,한,거,4세,55,25.0,김동수,신삼영,...,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792,1.283774e+09,127460000.0
4,6.0,4.0,논스톱기상,한,거,4세,52,24.0,김동수,신삼영,...,0.0,2014-06-05,3095.0,281.0,296.0,323.0,900.0,0.290792,1.283774e+09,127460000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21825,0.0,0.0,킹스캐리지,0,0,0,0,0.0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,2.014957e+09,1995180.0
21826,0.0,0.0,금순이스타,0,0,0,0,0.0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,2.014957e+09,292350000.0
21827,0.0,0.0,플라잉불릿,0,0,0,0,0.0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,5.988447e+07,42990000.0
21828,0.0,0.0,피케이군황,0,0,0,0,0.0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,4.124219e+09,126551389.0
21829,0.0,0.0,대카인,0,0,0,0,0.0,0,0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.000000,4.124219e+09,0.0

In [25]:
df_all.to_csv('./result/마지막 분석/final_v2.csv', encoding='utf-8-sig')

In [2]:
df = pd.read_csv('./result/마지막 분석/final_v3.csv', encoding='utf-8-sig')

In [7]:
print(len(df))
df.drop(df[df['순위']==0].index, inplace=True)
print(len(df))

21830
20289

In [8]:
df.to_csv('./result/마지막 분석/final_v2.csv', encoding='utf-8-sig')

# 전처리 시작 시점

In [85]:
df = pd.read_csv('./result/마지막 분석/final_v2.csv', encoding='utf-8-sig')

In [86]:
a = (df['기수명']=='이동국')
df.loc[a,'기수총전적'] = 3478

df.loc[a,'기수1등'] = 222
df.loc[a,'기수2등'] = 257
df.loc[a,'기수3등'] = 295


a = (df['기수명']=='이해동')
df.loc[a,'기수총전적'] = 1527

df.loc[a,'기수1등'] = 62
df.loc[a,'기수2등'] = 68
df.loc[a,'기수3등'] = 101

df.to_csv('./result/마지막 분석/final_v2.csv', encoding='utf-8-sig')

# 경주마 전적 date별 맞추기
(현재 기준 전적으로 merge한 상태)

In [41]:
df2 = pd.read_csv('./result/마지막 분석/final_v2.csv', encoding='utf-8-sig')
df2.sort_values(['마명', 'date'], ascending=[True,False], inplace=True)
df2.reset_index(inplace=True)
print(df2[['index','마명','순위','경주마1등','경주마2등','경주마3등','경주마총전적']].head(50))

tmp_name=''
for idx, st, name in zip(df2.index, df2.순위, df2.마명):
    if tmp_name != name:
        tmp_name = name
        if st == 1:
            df2.loc[idx, '경주마1등'] -= 1
        elif st==2:
            df2.loc[idx, '경주마2등'] -= 1
        elif st==3:
            df2.loc[idx, '경주마3등'] -= 1
        df2.loc[idx, '경주마총전적'] -= 1
    else:
        df2.loc[idx,'경주마1등'] = df2.loc[idx-1,'경주마1등']
        df2.loc[idx,'경주마2등'] = df2.loc[idx-1,'경주마2등']
        df2.loc[idx,'경주마3등'] = df2.loc[idx-1,'경주마3등']
        if st == 1:
            df2.loc[idx, '경주마1등'] = df2.loc[idx-1,'경주마1등']-1
        elif st==2:
            df2.loc[idx, '경주마2등'] = df2.loc[idx-1,'경주마2등']-1
        elif st==3:
            df2.loc[idx, '경주마3등'] = df2.loc[idx-1,'경주마3등']-1
        df2.loc[idx, '경주마총전적'] = df2.loc[idx-1,'경주마총전적']-1
print(df2[['index','마명','순위','경주마1등','경주마2등','경주마3등','경주마총전적']].head(50))

    index     마명  순위  경주마1등  경주마2등  경주마3등  경주마총전적
0   19327    가가나  12      1      1      2      17
1   12086    가가나   9      1      1      2      17
2   12085    가가나   7      1      1      2      17
3   12084    가가나   4      1      1      2      17
4   12083    가가나   7      1      1      2      17
5   12082    가가나   3      1      1      2      17
6   12081    가가나   9      1      1      2      17
7   19762    가가나   7      1      1      2      17
8   19761    가가나  11      1      1      2      17
9   20142  가기만고당  11      0      0      1       5
10  13596  가기만고당   9      0      0      1       5
11  13595  가기만고당  10      0      0      1       5
12  13594  가기만고당   3      0      0      1       5
13  13593  가기만고당   7      0      0      1       5
14  12660   가나파크  10      2      1      1       8
15  11293   가나파크   4      2      1      1       8
16  12043   가나파크  11      2      1      1       8
17   1032   가나파크   1      2      1      1       8
18  11292   가나파크  11      2      1      1       8
19  11256   가나패션   2      0      4      1       5
20  12620   가나패션   3      0      4      1       5
21  12619   가나패션   2      0      4      1       5
22  12618   가나패션   2      0      4      1       5
23  12352   가로수길   1      5      3      0      13
24  12351   가로수길   4      5      3      0      13
25  12350   가로수길   6      5      3      0      13
26  12349   가로수길   2      5      3      0      13
27  12348   가로수길   2      5      3      0      13
28  12347   가로수길   1      5      3      0      13
29  12346   가로수길   1      5      3      0      13
30   9640   가야영봉   6      0      0      0       8
31   9447   가야영봉  12      0      0      0       8
32  10453   가온매직  14      0      0      0       4
33  10810    가온찬  10      0      0      0       4
34   1233   가온챔프  10      9      3      2      20
35   1232   가온챔프   8      9      3      2      20
36   1231   가온챔프  11      9      3      2      20
37   1230   가온챔프   2      9      3      2      20
38  15756   가온포스   6      5      3      1      26
39  15755   가온포스   8      5      3      1      26
40  19367   가온포스   9      5      3      1      26
41  19366   가온포스  12      5      3      1      26
42   9675   가온포스   7      5      3      1      26
43   3967   가온포스   6      5      3      1      26
44  12752   가온포스   8      5      3      1      26
45   6299   가온포스   2      5      3      1      26
46   6298   가온포스   4      5      3      1      26
47   8035  가을의전설  10      6      1      4      34
48   6968  가을의전설   9      6      1      4      34
49  17397   가자플랜  11      1      2      0      12
    index     마명  순위  경주마1등  경주마2등  경주마3등  경주마총전적
0   19327    가가나  12      1      1      2      16
1   12086    가가나   9      1      1      2      15
2   12085    가가나   7      1      1      2      14
3   12084    가가나   4      1      1      2      13
4   12083    가가나   7      1      1      2      12
5   12082    가가나   3      1      1      1      11
6   12081    가가나   9      1      1      1      10
7   19762    가가나   7      1      1      1       9
8   19761    가가나  11      1      1      1       8
9   20142  가기만고당  11      0      0      1       4
10  13596  가기만고당   9      0      0      1       3
11  13595  가기만고당  10      0      0      1       2
12  13594  가기만고당   3      0      0      0       1
13  13593  가기만고당   7      0      0      0       0
14  12660   가나파크  10      2      1      1       7
15  11293   가나파크   4      2      1      1       6
16  12043   가나파크  11      2      1      1       5
17   1032   가나파크   1      1      1      1       4
18  11292   가나파크  11      1      1      1       3
19  11256   가나패션   2      0      3      1       4
20  12620   가나패션   3      0      3      0       3
21  12619   가나패션   2      0      2      0       2
22  12618   가나패션   2      0      1      0       1
23  12352   가로수길   1      4      3      0      12
24  12351   가로수길   4      4      3      0      11
25  12350   가로수길   6      4      3      0      10
26  12349   가로수길   2      4      2      0       9
27  12348   가로수길   2      4      1      0       8
28  12347   가로수길   1      3      1      0       7
29  12346   가로수길   1      2      1      0       6
30   9640   가야영봉   6      0      0      0       7
31   9447   가야영봉  12      0      0      0       6
32  10453   가온매직  14      0      0      0       3
33  10810    가온찬  10      0      0      0       3
34   1233   가온챔프  10      9      3      2      19
35   1232   가온챔프   8      9      3      2      18
36   1231   가온챔프  11      9      3      2      17
37   1230   가온챔프   2      9      2      2      16
38  15756   가온포스   6      5      3      1      25
39  15755   가온포스   8      5      3      1      24
40  19367   가온포스   9      5      3      1      23
41  19366   가온포스  12      5      3      1      22
42   9675   가온포스   7      5      3      1      21
43   3967   가온포스   6      5      3      1      20
44  12752   가온포스   8      5      3      1      19
45   6299   가온포스   2      5      2      1      18
46   6298   가온포스   4      5      2      1      17
47   8035  가을의전설  10      6      1      4      33
48   6968  가을의전설   9      6      1      4      32
49  17397   가자플랜  11      1      2      0      11

In [54]:
df2 = df2[['idx','경주마1등','경주마2등','경주마3등','경주마총전적']]

# 기수 전적 date별 맞추기

In [87]:
df3 = pd.read_csv('./result/마지막 분석/final_v2.csv')
df3.sort_values(['기수명', 'date'], ascending=[True,False], inplace=True)
df3.reset_index(inplace=True)
print(df3[['index','기수명','순위','기수1등','기수총전적']].head(50))

tmp_name=''
for idx, st, name in zip(df3.index, df3.순위, df3.기수명):
    if tmp_name != name:
        tmp_name = name
        if st == 1:
            df3.loc[idx, '기수1등'] -= 1
        elif st==2:
            df3.loc[idx, '기수2등'] -= 1
        elif st==3:
            df3.loc[idx, '기수3등'] -= 1
        df3.loc[idx, '기수총전적'] -= 1
    else:
        df3.loc[idx,'기수1등'] = df3.loc[idx-1,'기수1등']
        df3.loc[idx,'기수2등'] = df3.loc[idx-1,'기수2등']
        df3.loc[idx,'기수3등'] = df3.loc[idx-1,'기수3등']
        if st == 1:
            df3.loc[idx, '기수1등'] = df3.loc[idx-1,'기수1등']-1
        elif st==2:
            df3.loc[idx, '기수2등'] = df3.loc[idx-1,'기수2등']-1
        elif st==3:
            df3.loc[idx, '기수3등'] = df3.loc[idx-1,'기수3등']-1
        df3.loc[idx, '기수총전적'] = df3.loc[idx-1,'기수총전적']-1

print(df3[['index','기수명','순위','기수1등','기수2등','기수3등','기수총전적']].head(50))

    index  기수명  순위  기수1등  기수총전적
0   17688  권석원  14    38    678
1   17667  권석원   3    38    678
2   17691  권석원  11    38    678
3   17690  권석원  10    38    678
4   17674  권석원   7    38    678
5   17687  권석원  13    38    678
6   17671  권석원  10    38    678
7   17686  권석원  11    38    678
8   17669  권석원  14    38    678
9   17678  권석원   9    38    678
10  17658  권석원  14    38    678
11  17685  권석원   5    38    678
12  17660  권석원  10    38    678
13  17666  권석원   5    38    678
14  17689  권석원  11    38    678
15  17682  권석원  14    38    678
16  17657  권석원  13    38    678
17  17673  권석원   6    38    678
18  17677  권석원   6    38    678
19  17651  권석원   5    38    678
20  17655  권석원   9    38    678
21  17659  권석원   6    38    678
22  17665  권석원   5    38    678
23  17684  권석원   6    38    678
24  17653  권석원  14    38    678
25  17683  권석원   8    38    678
26  17668  권석원  11    38    678
27  17681  권석원   7    38    678
28  17679  권석원  10    38    678
29  17680  권석원   6    38    678
30  17676  권석원  10    38    678
31  17672  권석원   7    38    678
32  17675  권석원  11    38    678
33  17661  권석원  11    38    678
34  17662  권석원  12    38    678
35  17663  권석원  14    38    678
36  17664  권석원   9    38    678
37  17670  권석원  11    38    678
38  17650  권석원   3    38    678
39  17652  권석원   7    38    678
40  17654  권석원  14    38    678
41  17656  권석원  14    38    678
42  17080  김귀배   9   326   4549
43  17060  김귀배   2   326   4549
44  17079  김귀배   6   326   4549
45  17078  김귀배   4   326   4549
46  17049  김귀배   6   326   4549
47  17101  김귀배   5   326   4549
48  16981  김귀배   7   326   4549
49  17077  김귀배   7   326   4549
    index  기수명  순위  기수1등  기수2등  기수3등  기수총전적
0   17688  권석원  14    38    38    50    677
1   17667  권석원   3    38    38    49    676
2   17691  권석원  11    38    38    49    675
3   17690  권석원  10    38    38    49    674
4   17674  권석원   7    38    38    49    673
5   17687  권석원  13    38    38    49    672
6   17671  권석원  10    38    38    49    671
7   17686  권석원  11    38    38    49    670
8   17669  권석원  14    38    38    49    669
9   17678  권석원   9    38    38    49    668
10  17658  권석원  14    38    38    49    667
11  17685  권석원   5    38    38    49    666
12  17660  권석원  10    38    38    49    665
13  17666  권석원   5    38    38    49    664
14  17689  권석원  11    38    38    49    663
15  17682  권석원  14    38    38    49    662
16  17657  권석원  13    38    38    49    661
17  17673  권석원   6    38    38    49    660
18  17677  권석원   6    38    38    49    659
19  17651  권석원   5    38    38    49    658
20  17655  권석원   9    38    38    49    657
21  17659  권석원   6    38    38    49    656
22  17665  권석원   5    38    38    49    655
23  17684  권석원   6    38    38    49    654
24  17653  권석원  14    38    38    49    653
25  17683  권석원   8    38    38    49    652
26  17668  권석원  11    38    38    49    651
27  17681  권석원   7    38    38    49    650
28  17679  권석원  10    38    38    49    649
29  17680  권석원   6    38    38    49    648
30  17676  권석원  10    38    38    49    647
31  17672  권석원   7    38    38    49    646
32  17675  권석원  11    38    38    49    645
33  17661  권석원  11    38    38    49    644
34  17662  권석원  12    38    38    49    643
35  17663  권석원  14    38    38    49    642
36  17664  권석원   9    38    38    49    641
37  17670  권석원  11    38    38    49    640
38  17650  권석원   3    38    38    48    639
39  17652  권석원   7    38    38    48    638
40  17654  권석원  14    38    38    48    637
41  17656  권석원  14    38    38    48    636
42  17080  김귀배   9   326   326   386   4548
43  17060  김귀배   2   326   325   386   4547
44  17079  김귀배   6   326   325   386   4546
45  17078  김귀배   4   326   325   386   4545
46  17049  김귀배   6   326   325   386   4544
47  17101  김귀배   5   326   325   386   4543
48  16981  김귀배   7   326   325   386   4542
49  17077  김귀배   7   326   325   386   4541

In [89]:
df3 = df3[['idx','기수1등','기수2등','기수3등','기수총전적']]

In [90]:
df = pd.read_csv('./result/마지막 분석/final_v2.csv', encoding='utf-8-sig')

In [91]:
df.drop(labels=['기수1등','기수2등','기수3등','기수총전적','경주마1등','경주마2등','경주마3등','경주마총전적'],axis=1,inplace=True)

df_all = pd.merge(df,df2,how='inner',on='idx')
df_all = pd.merge(df_all,df3,how='inner',on='idx')


df_all.sort_values(['마명', 'date'], ascending=[True,False], inplace=True)
df_all.reset_index(inplace=True)
df_all

,index,Unnamed: 0,Unnamed: 0.1,idx,순위,마번,마명,산지,성별,연령,...,father,mother,경주마1등,경주마2등,경주마3등,경주마총전적,기수1등,기수2등,기수3등,기수총전적
0,19327,19327,19327,19658,12,11,가가나,한,수,4세,...,76502000,210490000,1,1,2,16,84,98,109,1556
1,12086,12086,12086,12299,9,5,가가나,한,수,4세,...,76502000,210490000,1,1,2,15,97,129,118,1412
2,12085,12085,12085,12298,7,9,가가나,한,수,4세,...,76502000,210490000,1,1,2,14,93,124,110,1348
3,12084,12084,12084,12297,4,10,가가나,한,수,4세,...,76502000,210490000,1,1,2,13,91,117,109,1312
4,12083,12083,12083,12296,7,5,가가나,한,수,4세,...,76502000,210490000,1,1,2,12,89,113,107,1277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20277,5630,5630,5630,5733,10,9,히트하트,한,암,4세,...,395527187,118653000,0,0,0,4,7,17,15,241
20278,20079,20079,20079,20427,11,6,히트하트,한,암,4세,...,395527187,118653000,0,0,0,3,56,59,94,1220
20279,20078,20078,20078,20426,12,8,히트하트,한,암,4세,...,395527187,118653000,0,0,0,2,55,59,94,1208
20280,19756,19756,19756,20098,9,8,힐링공주,한,암,3세,...,678570454,215540000,0,0,1,3,49,39,31,368
20281,9415,9415,9415,9580,8,8,힐링공주,한,암,3세,...,678570454,215540000,0,0,1,2,369,373,413,4770

In [93]:
df_all.to_csv('./result/마지막 분석/final_v3.csv', encoding='utf-8-sig')

# 전처리 끝 탐색적 데이터 분석 시작

In [94]:
df = pd.read_csv('./result/마지막 분석/final_v3.csv', encoding='utf-8-sig')
df.head()

,idx,순위,마번,마명,산지,성별,연령,중량,기수명,마체중,...,경주마3등,경주마총전적,경주마3등이내횟수,경주마3등이내확률,기수1등,기수2등,기수3등,기수총전적,기수3등이내횟수,기수3등이내확률
0,0,12,11,가가나,한,수,4세,54,정정희,528,...,2,16,4,0.2500,84,98,109,1556,291,0.1870
1,1,9,5,가가나,한,수,4세,54.5,다비드,535(2),...,2,15,4,0.2667,97,129,118,1412,344,0.2436
2,2,7,9,가가나,한,수,4세,55.5,다비드,533(3),...,2,14,4,0.2857,93,124,110,1348,327,0.2426
3,3,4,10,가가나,한,수,4세,55,다비드,530,...,2,13,4,0.3077,91,117,109,1312,317,0.2416
4,4,7,5,가가나,한,수,4세,55,다비드,536(0),...,2,12,4,0.3333,89,113,107,1277,309,0.2420

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20282 entries, 0 to 20281
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   순위         20282 non-null  int64
 1   마번         20282 non-null  int64
 2   마명         20282 non-null  object
 3   산지         20282 non-null  object
 4   성별         20282 non-null  object
 5   연령         20282 non-null  object
 6   중량         20282 non-null  object
 7   기수명        20282 non-null  object
 8   마체중        20282 non-null  object
 9   단승         20282 non-null  float64
 10  연승         20282 non-null  float64
 11  grade      20282 non-null  object
 12  length     20282 non-null  object
 13  date       20282 non-null  int64
 14  데뷔일자       20282 non-null  object
 15  father     20282 non-null  int64
 16  mother     20282 non-null  int64
 17  경주마총전적     20282 non-null  int64
 18  경주마1등      20282 non-null  int64
 19  경주마2등      20282 non-null  int64
 20  경주마3등      20282 non-null  int64
 21  경주마3등이내횟수  20282 non-null  int64
 22  경주마3등이내확률  20282 non-null  float64
 23  기수총전적      20282 non-null  int64
 24  기수1등       20282 non-null  int64
 25  기수2등       20282 non-null  int64
 26  기수3등       20282 non-null  int64
 27  기수3등이내횟수   20282 non-null  int64
 28  기수3등이내확률   20282 non-null  float64
dtypes: float64(4), int64(15), object(10)
memory usage: 4.5+ MB

In [66]:
df.describe()

,순위,마번,단승,연승,date,father,mother,경주마총전적,경주마1등,경주마2등,경주마3등,경주마3등이내횟수,경주마3등이내확률,기수총전적,기수1등,기수2등,기수3등,기수3등이내횟수,기수3등이내확률
count,20282.000000,20282.000000,20282.000000,20282.000000,2.028200e+04,2.028200e+04,2.028200e+04,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000,20282.000000
mean,6.435411,6.532097,743.077823,659.552051,2.021327e+07,1.478749e+09,9.219154e+07,10.708263,1.257470,1.199882,1.162163,3.619515,0.306734,3051.736367,324.933291,314.470861,298.985209,938.389360,0.268517
std,3.551559,3.605186,2526.423692,2466.476205,6.335577e+03,1.409111e+09,1.234431e+08,8.915744,1.729209,1.536815,1.487645,3.784092,0.254069,2807.925712,431.200432,373.085964,315.592009,1112.769627,0.080436
min,1.000000,1.000000,1.000000,1.000000,2.020102e+07,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-128.000000,-1.000000,-6.000000,-1.000000,-8.000000,0.000000
25%,3.000000,3.000000,7.400000,2.100000,2.021042e+07,5.715776e+08,4.500000e+06,4.000000,0.000000,0.000000,0.000000,1.000000,0.076900,1235.000000,67.000000,94.000000,99.000000,261.000000,0.211700
50%,6.000000,6.000000,21.300000,4.100000,2.021102e+07,1.207357e+09,5.462255e+07,9.000000,1.000000,1.000000,1.000000,3.000000,0.285700,2327.500000,175.000000,192.500000,191.000000,551.000000,0.251500
75%,9.000000,9.000000,73.200000,11.000000,2.022033e+07,2.014957e+09,1.320100e+08,15.000000,2.000000,2.000000,2.000000,6.000000,0.480000,4160.750000,382.000000,357.000000,374.000000,1127.000000,0.332500
max,16.000000,16.000000,9999.900000,9999.900000,2.022092e+07,1.716279e+10,1.340028e+09,77.000000,18.000000,12.000000,10.000000,28.000000,1.000000,15148.000000,2192.000000,2028.000000,1720.000000,5940.000000,1.000000

In [12]:
df.groupby('length').size()

length
1000M    1186
1200M    7629
1300M    2652
1400M    4981
1600M      53
1700M    1716
1800M    1791
2000M     258
2300M      16
dtype: int64